{% for id,link in main_navs[number].type[2].links if main_navs[number].type[2].name[id] %}

    <li><a class="nav__link" href="{{ link }}">{{  main_navs[number].type[2].name[id] }}</a></li>

{% endfor %}