                <div class="search js-search">
                    <button class="search__btn">
                      <svg class="icon-search">
                        <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-search"></use>
                      </svg>
                    </button>
                    <div class="search__wrapper">
                      <div class="search__wrapper-in">
						<button class="search__send">
                          <svg class="icon-search">
                            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-search"></use>
                          </svg>
						</button>
                        <button class="search__close">
                          <svg class="icon-close">
                            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-close"></use>
                          </svg>
                        </button>
                        <input class="search__input js-search-input" inputmode="text" name="search" value="{{ search }}" type="search" placeholder="{{ text_search_placeholder }}">
                      </div>
                    </div>
                </div>